<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    
    <!-- Edit -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    
    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
	<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/smartadmin-production-plugins.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/smartadmin-production.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/smartadmin-skins.min.css">

    <!-- SmartAdmin RTL Support  -->
	<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/smartadmin-rtl.min.css">
	
	<!-- GOOGLE FONT -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

</head>

<body ng-app="app" class="desktop-detected pace-done smart-style-1">
    <ui-view></ui-view>
    
	<!--================================================== -->
	<!-- Bootstrap, JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	
	
	<!-- IMPORTANT: APP CONFIG -->
		<script src="javascripts/app.config.js"></script>
		
		<!-- MAIN APP JS FILE -->
		<script src="javascripts/app.min.js"></script>
	
    <!-- Socket -->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    
    <!-- Angular, UI Router -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
    
    <!-- Modules -->
    <script type="text/javascript" src="javascripts/app.js"></script>
    <script type="text/javascript" src="javascripts/chat/chat.js"></script>
    <script type="text/javascript" src="javascripts/chat/chatCtrl.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/Luegg/angularjs-scroll-glue/master/src/scrollglue.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/angular.textarea-enter/0.1.6/ng-textarea-enter.min.js"></script>
</body>

</html>
