<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="nameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                    <h4 class="modal-title" id="myModalLabel">Please Enter a Chat Nickname</h4>
                </div>
                <form ng-submit="changeName()">
                    <div class="modal-body">
                        <input type="text" class="form-control" placeholder="Enter name... 10 character limit" ng-model="newName" />
                        <div class=" text-center margin-top-10"><strong class="text-danger bg-danger">{{ errors.nameMessage }}</strong></div>
                        <div class=" text-center margin-top-10"><strong class="text-success bg-success">{{ success.nameMessage }}</strong></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row " style="padding-top:40px;">
        <h3 class="text-center">Chat Room </h3>
        <br/><br/>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    CHAT ROOM ---- {{ name }}
                    <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#nameModal">
                        Name
                    </button>
                </div>
                <div class="panel-body">
                    <ul class=" chat media-list" scroll-glue>

                        <li class="media" ng-repeat="each in messages">

                            <div class="media-body">

                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <!--<img class="media-object img-circle " src="assets/img/user.png" />-->
                                    </a>
                                    <div class="media-body">
                                        {{ each.message }}
                                        <br />
                                        <small class="text-muted">{{ each.user }} | {{ each.date }} at {{ each.time }}</small>
                                        <hr />
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <form ng-submit="sendMessage()">
                        <div class="input-group">
                            <span class="input-group-btn"><button class="btn btn-danger" type="button" ng-disabled="!haveName">@</button></span>
                            <input type="text" class="form-control" placeholder="Enter Message..." ng-model="message" ng-show="haveName"/>
                            <input type="text" class="form-control" placeholder="Create a name first..." ng-model="message" ng-show="!haveName" 
                                data-toggle="modal" data-target="#nameModal"/>
                            <span class="input-group-btn">
                            <button class="btn btn-danger" type="submit"  ng-disabled="!haveName">SEND</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    ONLINE USERS
                </div>
                <div class="panel-body">
                    <ul class=" chat media-list">

                        <li class="media">

                            <div class="media-body">

                                <!--<div class="media">-->
                                <!--    <a class="pull-left" href="#">-->
                                <!--        <img class="media-object img-circle" style="max-height:40px;" src="" />-->
                                <!--    </a>-->
                                <!--    <div class="media-body">-->
                                <!--        <h5>Alex Deo | User </h5>-->

                                <!--        <small class="text-muted">Active From 3 hours</small>-->
                                <!--    </div>-->
                                <!--</div>-->

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
